<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyuan.base.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.shiyuan.base.entity.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="subscriber" column="subscriber" jdbcType="INTEGER"/>
            <result property="subscribeNote" column="subscribe_note" jdbcType="VARCHAR"/>
            <result property="module" column="module" jdbcType="INTEGER"/>
            <result property="vehicleId" column="vehicle_id" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="purpose" column="purpose" jdbcType="VARCHAR"/>
            <result property="route" column="route" jdbcType="VARCHAR"/>
            <result property="load" column="load" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="approver" column="approver" jdbcType="INTEGER"/>
            <result property="driver" column="driver" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="inclinationDriver" column="inclination_driver" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,subscriber,subscribe_note,
        module,vehicle_id,start_time,
        end_time,address,purpose,
        route,load,update_time,
        create_time,approver,driver,
        state,comment,inclination_driver
    </sql>
</mapper>
