<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyuan.base.modules.vehicle.mapper.VVehicleMapper">

    <resultMap id="BaseResultMap" type="com.shiyuan.base.modules.vehicle.VVehicle">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="vehicleNo" column="vehicle_no" jdbcType="VARCHAR"/>
            <result property="project" column="project" jdbcType="VARCHAR"/>
            <result property="place" column="place" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="maintainer" column="maintainer" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,vehicle_no,project,
        place,state,create_time,
        reason,maintainer
    </sql>
    <select id="selectVehiclePage" resultType="com.shiyuan.base.modules.vehicle.vo.VVehicleVO">
        SELECT
        v.id,
        v.vehicle_no AS vehicleNo,
        v.state,
        CASE WHEN v.state = 0 THEN '不可用' ELSE '可用' END AS stateName,
        v.project,
        p.name AS projectName,
        maintainer, u.name as maintainerName
        FROM
        v_vehicle v
        LEFT JOIN
        v_project p ON v.project = p.id
        LEFT JOIN
        v_user u on v.maintainer = u.id
        <where>
            <if test="blurry != null and blurry != ''">
                (v.vehicle_no LIKE CONCAT('%', #{blurry}, '%'))
            </if>
        </where>
        <choose>
            <when test="sort != null and sort != ''">
                ORDER BY
                <choose>
                    <when test="sort == 'vehicleno'">v.vehicle_no</when>
                    <when test="sort == 'state'">v.state</when>
                    <otherwise>v.id</otherwise>
                </choose>
                <if test="order != null and order.toLowerCase() == 'desc'">
                    DESC
                </if>
                <if test="order == null or order.toLowerCase() != 'desc'">
                    ASC
                </if>
            </when>
            <otherwise>
                ORDER BY v.id DESC
            </otherwise>
        </choose>
    </select>
</mapper>
